<header>
  <div class="header-wrapper" [class.nav--open]="menu.isMenuClosed">
    <div class="header-left wow fadeIn">
      <ul>
        <li routerLinkActive="activeRoute"><a routerLink="about" (click)="closeMenu()">About</a></li>
        <li routerLinkActive="activeRoute"><a routerLink="tours" (click)="closeMenu()">Tours</a></li>
        <li routerLinkActive="activeRoute"><a routerLink="gallery" (click)="closeMenu()">Gallery</a></li>
        <li routerLinkActive="activeRoute"><a routerLink="contact" (click)="closeMenu()">Contact</a></li>
      </ul>
    </div>
    <div class="header-right" [ngClass]="{ 'logo-index' : isIndex }">
      <a routerLink="/">
        <h1 class="urbanwheels-logo">
          urbanwheels
        </h1>
      </a>
    </div>
  </div>
</header>
