@import 'mixins';

.about-section {
  .about-right {
    background-image: url("../../../assets/images/hills.jpg");
    background-size: cover;
    position: relative;
    height: 40vh;
  }

  @include breakpoint(800px) {
    display: flex;

    .about-right{
      order: 1;
      height: 100%;
      width: 50%;
    }
  }
}
