<section class="about-section" [ngClass]="{ 'load-complete' : viewPage }">
  <img class="loader" src="/assets/icons/loading.svg">
  <div class="about-wrapper">
    <div class="about-right page-title">
      <p>{{pageTitle}}</p>
      <picture>
        <source srcset="{{ aboutImageUrl }}?fm=webp" type="image/webp">
        <source srcset="{{ aboutImageUrl }}?fm=png" type="image/png">
        <img src="{{ aboutImageUrl }}?fm=png" alt="{{ aboutImageAlt }}" (load)="imageLoaded()">
      </picture>
    </div>
    <div class="about-left">
      <div class="about-text main-text">
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Teneo, inquit,
          finem illi videri nihil dolere. Cum praesertim illa perdiscere ludus esset.
          Quid ad utilitatem tantae pecuniae? Istam voluptatem perpetuam quis potest
          praestare sapienti? Explanetur igitur. Ne in odium veniam,
          si amicum destitero tueri. Hoc simile tandem est? Comprehensum,
          quod cognitum non habet? Quorum altera prosunt, nocent altera.
          Paria sunt igitur.
        </p>
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sed haec in pueris; Verum hoc idem saepe faciamus. Nunc vides, quid
          faciat. Immo alio genere; Summum ením bonum exposuit vacuitatem doloris;
          Si enim ad populum me vocas, eum. Duo enim genera quae erant, fecit tria.
          Non quam nostram quidem, inquit Pomponius iocans; Aliter enim explicari,
          quod quaeritur, non potest. Pollicetur certe. Non igitur bene. Ego vero
          isti, inquam, permitto. Duo Reges: constructio interrete. Uterque enim
          summo bono fruitur, id est voluptate.
        </p>
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sed haec in pueris; Verum hoc idem saepe faciamus. Nunc vides, quid
          faciat. Immo alio genere; Summum ením bonum exposuit vacuitatem doloris;
          Si enim ad populum me vocas, eum. Duo enim genera quae erant, fecit tria.
          Non quam nostram quidem, inquit Pomponius iocans; Aliter enim explicari,
          quod quaeritur, non potest. Pollicetur certe. Non igitur bene. Ego vero
          isti, inquam, permitto. Duo Reges: constructio interrete. Uterque enim
          summo bono fruitur, id est voluptate.
        </p>
      </div>
    </div>
  </div>
</section>
