@import 'mixins';

.about-section {
  .about-right {
    position: relative;
    height: 40vh;
  }

  picture {
    img,
    source {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  .about-wrapper {

    @include breakpoint(800px) {
      display: flex;

      .about-right {
        order: 1;
        height: 100%;
        width: 50%;
      }
    }
  }
}
