/*
* Fonts
*/
$font-odi: 'Odibee Sans', cursive;
$font-mont: 'Montserrat', sans-serif;
$font-merr: 'Merriweather', serif;
/**
* Colors
*/
$cottage-blue: red;
$cottage-red: #880000;
/**
 * Text size
 */
$text-size-desktop: 18px;
$text-size-mobile: 16px;
/**
 * Breakpoints are set up to be mobile first.
 */
$tablet: 600px;
$desktop: 1000px;
$wide: 1200px;
$wide-l: 1500px;
