<section class="index-section">
  <div class="index-text">
    <h1>...coming soon...</h1>
    <h2>urbanwheels</h2>
    <figure [@logoFade]="hideLogo ? 'end' : 'initial'">
      <img src="assets/urbanwheels-logo.png" alt="urbanwheels logo">
    </figure>
    <p>
      Based out of the lush foothills of the Himalayan Dhauladhar range in Dharmshala, urbanwheels provides customised tours through India and beyond.
    </p>
    <div class="index-contact">
      <a href="mailto:urbanwheelscontact@gmail.com?Subject=Inquiry"><i class="fas fa-envelope fa-3x"></i></a>
      <a href="https://www.instagram.com/theurbanwheels/" target="_blank"><i class="fab fa-instagram fa-3x"></i></a>
    </div>
  </div>
  <div class="index-media" [@logoFade]="hideLogo ? 'initial' : 'end'">
    <iframe src="https://player.vimeo.com/video/375906833?autoplay=1&color=ffffff&title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  </div>
</section>
