@import 'mixins';
@import 'variables';

.gallery-section {
  position: relative;

  figure {
    display: block;
    max-width: 100%;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
  }

  .swiper-button-next,
  .swiper-button-prev {
    background-size: auto;
    background-repeat: no-repeat;
    margin-top: 0;
    height: 30px;
    width: 30px;
    outline: 0;

    &:after {
      display: none;
    }
  }

  .swiper-button-prev {
    background-image: url("../../../assets/icons/arrow-left.svg");
    margin-right: 10px;
  }

  .swiper-button-next {
    background-image: url("../../../assets/icons/arrow-right.svg");
    margin-left: 10px;
  }

  .swiper-button-mobile,
  .swiper-pagination-mobile {
    position: static;
  }

  .swiper-button-desktop,
  .swiper-pagination-desktop {
    display: none;
  }

  .gallery-main {
    max-height: 70vh;

    figure {
      position: relative;

      &:after {
        opacity: 0;
        transition: opacity .5s;
        background-color: rgba(61, 61, 61, .9);
        background-size: 60px 60px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../../../assets/icons/swipe.svg");
        position: absolute;
        height: 100%;
        width: 100%;
        content: '';
        display: block;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
      }
    }
  }

  .gallery-main.swiper-icon {
    figure {
      &:after {
        opacity: 1;
      }
    }
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .image-controls,
  .image-info {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: baseline;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;

    p {
      margin: 0;
    }

    .image-date {
      margin-left: 10px;

      p {
        white-space: nowrap;
      }
    }
  }
  @include breakpoint(800px) {
    .gallery-text {
      padding: 15px;
      position: absolute;
      background-color: rgba(255, 255, 0, .7);
      z-index: 2;
      width: 100%;
      max-width: 50%;
      margin-left: auto;
      margin-right: auto;
      bottom: 7%;
    }

    .gallery-main {
      max-height: none;
    }

    .image-controls,
    .image-info {
      margin: 0;
    }

    .swiper-button-desktop,
    .swiper-pagination-desktop {
      display: block;
      z-index: 1;
    }

    .swiper-button-mobile,
    .swiper-pagination-mobile {
      display: none;
      z-index: 1;
    }

    .gallery-main {
      height: 100vh;
    }

    .swiper-pagination {
      bottom: 21%;
    }

    .swiper-button-next {
      top: auto;
      bottom: 5%;
      left: 50%;
      z-index: 3;
      height: 80px;
      width: 80px;
      background-size: cover;
      background-repeat: no-repeat;
      transition: transform 0.5s;
      margin: 0;

      &:hover {
        transform: translateX(20px);
      }
    }
  }
}
